In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv("data.csv")
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
s_to_n = LabelEncoder()

df["outlook_n"] = s_to_n.fit_transform(df["outlook"]) #For outlook to int

df["temp_n"] = s_to_n.fit_transform(df["temp"])

df["humidity_n"] = s_to_n.fit_transform(df["humidity"])

df["windy_n"] = s_to_n.fit_transform(df["windy"])

df["play_n"] = s_to_n.fit_transform(df["play"])

In [7]:
df.head()

,outlook,temp,humidity,windy,play,outlook_n,temp_n,humidity_n,windy_n,play_n
0,sunny,hot,high,False,no,2,1,0,0,0
1,sunny,hot,high,True,no,2,1,0,1,0
2,overcast,hot,high,False,yes,0,1,0,0,1
3,rainy,mild,high,False,yes,1,2,0,0,1
4,rainy,cool,normal,False,yes,1,0,1,0,1

In [8]:
#df.drop(["outlook", "temp", "humidity", "windy", "play"], axis="columns", inplace=True)
df.drop(df.iloc[:, 0:5], axis="columns", inplace=True)
df.head()

   outlook_n  temp_n  humidity_n  windy_n  play_n
0          2       1           0        0       0
1          2       1           0        1       0
2          0       1           0        0       1
3          1       2           0        0       1
4          1       0           1        0       1

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:4],df.iloc[:,4])

In [13]:
classifier = GaussianNB()

classifier.fit(x_train, y_train)

GaussianNB()

In [14]:
y_pred = classifier.predict(x_test)

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
accuracy = float(cm.diagonal().sum())/len(y_test)
accuracy

1.0

In [18]:
#outlook       | temp       | humidity   | windy     | play
#----------------------------------------------------------------
#sunny - 2     | hot - 1    | high - 0   | False - 0 | no - 0
#rainy - 1     | mild - 2   | normal - 1 | True - 1  | yes - 1
#overcast - 0  | cool - 0   |            \           \

classifier.predict([[2, 2, 1, 0]])

array([1])

In [19]:
classifier.predict([[2, 1, 0, 0]])

array([0])