In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("salary.csv")
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [12]:
from sklearn.preprocessing import LabelEncoder
s_to_n = LabelEncoder()


data["company"] = s_to_n.fit_transform(data["company"])
data["job"] = s_to_n.fit_transform(data["job"])
data["degree"] = s_to_n.fit_transform(data["degree"])

data.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [17]:
from sklearn import tree
t = tree.DecisionTreeClassifier()
t.fit(data.iloc[:,0:3], data.iloc[:, 3])

DecisionTreeClassifier()

In [18]:
t.score(data.iloc[:,0:3], data.iloc[:, 3])

1.0

In [19]:
t.predict([[2,1,0]])

array([0])

In [20]:
t.predict([[2,1,1]])

array([1])